[Unit]
Description=EPD Clock Service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/scripts/clockepd/run/epdclock.py
[Install]
WantedBy=multi-user.target
